<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> 
	<link href="/stylesheets/jumbotron.css" rel="stylesheet"> 
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="/login"><img src="/images/logo.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/restaurants">Restaurants Info</a></li>
					<li class="active"><a href="/friendsupdates">Friends Updates<span class="sr-only">(current)</span></a></li>
					<li><a href="/friendsactivities">Friends Activities</a></li>
					<li><a href="/personalactivities">Personal Activities</a></li>
					<li><a href="/addfriends">Add Friends</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Search">
						</div>
						<button type="submit" class="btn btn-default">Submit</button>
					</form>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>	
			
				
	<div class="container">
		<h2>Friends Reviews</h2>
		<div class="jumbotron">
			
			<% for(var i=0; i < reviewlist.length; i++) { %>
				<div class="media">
					<a class="pull-left" href="#">
						<img class="media-object" src="http://vignette2.wikia.nocookie.net/feed-the-beast/images/8/88/Shards-64x64.gif/revision/latest?cb=20131110151438" alt="">
					</a>
					<div class="media-body">
						<h4 class="media-heading"><a><%= reviewlist[i][1]%> <%= reviewlist[i][2]%></a>
								<small>commented on </small><a><%= reviewlist[i][0]%></a></h4>
								<%= reviewlist[i][5]%>
					</div>
				</div>
				<br><br>
						<% } %>	
						
			</div>
		</div>

				<!-- Le javascript
					================================================== -->
					<!-- Placed at the end of the document so the pages load faster -->

					<script src="/javascripts/jquery.js"></script>
					<script src="/javascripts/bootstrap.js"></script>
					<script type="text/javascript" src="/javascripts/backstretch.min.js"></script>
					<script type="text/javascript" src="/javascripts/yelp-login.js"></script>
					

				</body>
				</html>

