<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/stylesheets/yelp-login.css">
</head>
<body>
	<div class="navbar-md navbar-fixed-top ">
		<div class="navbar-inner">
			<div class="container">
				</a> <a class="brand" href="/login"><img src="/images/logo.png"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="login-wraper">
			<form class="form login-form">
				<legend>Sign in to <span class="blue">EatrLoop</span></legend>
					<div class="body">
					<label>Username</label> 
					<input type="text"> 
					<label>Password</label>
					<input type="password">
				</div>
				<div class="footer">
					<label class="checkbox inline"> 
						<input type="checkbox" id="inlineCheckbox1" value="option1"> Remember me
					</label>
					<button type="submit" class="btn btn-success">Login</button>
				</div>
			</form>
		</div>
	</div>
	<footer class="white navbar navbar-fixed-bottom">
		Don"t have an account yet? <a href="/register"
			>Register</a>
	</footer>

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script type="text/javascript" src="/javascripts/backstretch.min.js"></script>
	<script type="text/javascript" src="/javascripts/yelp-login.js"></script>

</body>
</html>
