<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><%= title %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="/stylesheets/yelp-login.css">
</head>
<body>
	<div class="navbar-md navbar-fixed-top ">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/login"><img src="/images/logo.png"></a>
			</div>
		</div>
	</div>
	<div class="container">
		<div id="login-wraper">
			<form class="form login-form" action="/verifyuser">
				<legend>Welcome to <span class="blue">EatrLoop</span></legend>
				<div class="body">
					<h3>Welcome to EatrLoop, a place to create real reviews of restaurants, read friends and create activities!</h3>
				</div>
				<div class="footer">
					<label class="checkbox inline"> 
						<a href="/auth/facebook"> Login with Facebook</a> &nbsp;&nbsp;&nbsp;<a href="/auth/facebook"><img src="/images/image001.png"></a>
					</label>
				</div>
			</form>
		</div>
	</div>
	<footer class="white navbar navbar-fixed-bottom">
		&copy; 2015 Huayi Guo, Shixiong Liu, Huayi Guo and Jing Ji	
		<!-- Don"t have an account yet? <a href="/register"
			>Register</a> OR <a href="/auth/facebook"> Login with Facebook</a> -->
	</footer>

	<!-- Le javascript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.js"></script>
	<script type="text/javascript" src="/javascripts/backstretch.min.js"></script>
	<script type="text/javascript" src="/javascripts/yelp-login.js"></script>

</body>
</html>
